In [60]:
#Dependencies
import pandas as pd
import numpy as np

In [61]:
#Import file
file_to_load = "Resources/purchase_data.csv"

#Read file in panda
purchase_df = pd.read_csv(file_to_load)

In [62]:
#Total Number of players
#try counting the number of rows
row_count = len(purchase_df.index)
row_count

780

In [63]:
#Purchasing Analysis
#Unique Items
unique_df = purchase_df['Item Name'].nunique() 
unique_df

179

In [64]:
#Average price (try using a mean)
avg_price = purchase_df['Price'].mean()
avg_price

3.050987179487176

In [65]:
#total number of purchases
sum_df = purchase_df['Purchase ID'].count()
sum_df

780

In [66]:
#total revenue (use sum)
sum_rev = purchase_df['Price'].sum()
sum_rev

2379.77

In [76]:
#create a dataframe
purchase_table = pd.DataFrame({
    'Number of Unique Items': [unique_df],
    'Average Price':[avg_price],
    'Number of Purchase': [sum_df],
    'Total Revenue': [sum_rev]
})
purchase_table

   Number of Unique Items  Average Price  Number of Purchase  Total Revenue
0                     179       3.050987                 780        2379.77

In [51]:
#Gender Demographics
#Count of Male and Female
gender_count = purchase_df["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [54]:
#percentage of male
male_percentage = 652 / (652 + 113 + 15)
male_percentage

0.8358974358974359

In [55]:
#percent of female
female_percentage = 113 / (652 + 113 + 15)
female_percentage

0.14487179487179488

In [56]:
#percent of other
other_percentage = 15/ (652 + 113 + 15)
other_percentage

0.019230769230769232

In [84]:

# Group by Gender
grouped_df = purchase_df.groupby(["Gender"])

# Data Manipulation
purchCount = grouped_df["SN"].count()
purchPrice = grouped_df["Price"].mean()
purchValue = grouped_df["Price"].sum()

# Create new DataFrame
purch_gen_df = pd.DataFrame({"Purchase Count": purchCount,
                              "Average Purchase Price": purchPrice,
                              "Total Purchase Value": purchValue,
                            })
purch_gen_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [85]:
# Create Bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [86]:
# Add bins to new dataframe and groupby
binner_df = purchase_df.copy()
binner_df["Age Groups"] = pd.cut(binner_df["Age"], bins, labels=binLab)
group_bin = binner_df.groupby(["Age Groups"])

In [91]:
# Create new DataFrame
binnerCount = group_bin["SN"].count()
countTotal = purchase_df["SN"].count()
percentage = (binnerCount / countTotal) * 100
percentage
age_perc = pd.DataFrame({"Total Count": binnerCount,
                         "Percentage of Players": percentage})

age_perc

            Total Count  Percentage of Players
Age Groups
Under 10             32               4.102564
10 - 14              54               6.923077
15 - 19             200              25.641026
20 - 24             325              41.666667
25 - 29              77               9.871795
30 - 34              52               6.666667
35 - 39              33               4.230769
Over 40               7               0.897436

In [94]:
#Top Spenders
groupedbysn = purchase_df.groupby(["SN"])
groupedsn_count = groupedbysn["Item ID"].count()
groupedsn_total = groupedbysn["Price"].sum()
groupedsn_avg = (groupedsn_total / groupedsn_count)

In [95]:
#Make Dataframe for top spenders
# Build DF and format
sn_df = pd.DataFrame({"Purchase Count": groupedsn_count,
                         "Average Purchase Price": groupedsn_avg,
                         "Total Purchase Value": groupedsn_total})

sn_df = sn_df.sort_values("Total Purchase Value", ascending=False) 
sn_df["Average Purchase Price"] = sn_df["Average Purchase Price"].map("${:.2f}".format)
sn_df["Total Purchase Value"] = sn_df["Total Purchase Value"].map("${:.2f}".format)
sn_df = sn_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
sn_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [97]:
#popular items
group_item = purchase_df.groupby(["Item ID", "Item Name"])
group_item_count = group_item["SN"].count()
group_price_sum = group_item["Price"].sum()
group_itemp = (group_price_sum / group_item_count)
group_itemv = (group_itemp * group_item_count)

In [98]:
# New DF 
Popular_df = pd.DataFrame({"Purchase Count": group_item_count,
                          "Item Price": group_itemp,
                          "Total Purchase Value": group_itemv})

Popular_df = Popular_df.sort_values("Purchase Count", ascending=False) 
Popular_df["Item Price"] = Popular_df["Item Price"].map("${:.2f}".format)
Popular_df["Total Purchase Value"] = Popular_df["Total Purchase Value"].map("${:.2f}".format)
Popular_df = Popular_df[["Purchase Count", "Item Price", "Total Purchase Value"]]
Popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [100]:
#profitable df
profitable = pd.DataFrame({"Purchase Count": group_item_count,
                          "Item Price": group_itemp,
                          "Total Purchase Value": group_price_sum})

profitable = profitable.sort_values("Total Purchase Value", ascending=False) 
profitable["Item Price"] = profitable["Item Price"].map("${:.2f}".format)
profitable["Total Purchase Value"] = profitable["Total Purchase Value"].map("${:.2f}".format)
profitable= profitable[["Purchase Count", "Item Price", "Total Purchase Value"]]
profitable.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [ ]:
%%writefile yourHomework.py